button {
	background-color: rgba(var(--app-blue), 1);
	font-weight: 700;
	border: none;
	padding: 10px;
	margin: 6px 4px;
	border-radius: 20px;
	color: white;
}

.bg-red {
	background-color: rgba(var(--app-red), 1);
}

.bg-red:hover {
	background-color: rgba(var(--app-red), .7);
}

button:hover {
	background-color: rgba(var(--app-blue), .7);
	cursor: pointer;
}