.bar-container {
	margin-top: 12vh;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	max-height: 63vh;
	min-height: 63vh;
	bottom: 0;
}

h1 {
	color: white;
	margin: 0;
	padding: 1rem;
}

.sort-button-container {
	display: flex;
	justify-content: center;
}