:root {
	--app-dark: #2F2F2F;
	--app-light: #DBCBD8;
	--app-brown: #322A26;
	--app-turquoise: #67b6b3;
	--app-red: 214, 64, 69;
	--app-gray: #838E83;
	--app-blue: 68, 109, 246;
}

* {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
	background-color: var(--app-dark)
}

.App {
	text-align: center;
}
