:root {
	--app-dark: #2B303A;
	--app-light: #DBCBD8;
	--app-brown: #322A26;
	--app-pink: #DB93B0;
	--app-red: 164, 22, 35;
	--app-red-darker: #881620;
	--app-green: #45B69C;
	--app-blue: 68, 109, 246
}

* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	background-color: var(--app-dark)
}

.App {
	text-align: center;
}
